@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");

/* General style rules for fonts and colors */
body {
    font-family: 'Lora', serif;
    font-size: 18px;
    margin: 0;
    color: #333;
    background-color: #f4f4f9;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.characters-section {
    text-align: center;
    padding: 90px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 100%; /* Largeur maximale du conteneur pour occuper toute la page */
    margin: 0 auto;
    padding: 0 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 300px; 
    width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
}

.card img {
    width: 200px; /* Ajuste la taille de l'image */
    height: auto;
    border-radius: 8px;
}

.card .left-text {
    order: -1;
    text-align: right;
    width: 100%;
    padding-right: 70px; 
}

.card .right-text {
    text-align: left;
    width: 100%;
    padding-left: 70px; 
}

.card h3 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
}

